
.table_form{
    width: 100%;
}
.btn_nuevo{
    width: 150px;
    height: 40px;
}
.text-danger{
    color: #f44336;
}
.edad{
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}