
.container_principal{
    position: absolute;
    width: calc(100% - 50px);
  }

  .example-card{
    padding: 10%;
    text-align: center;
    width: 240px;
    line-break: anywhere;
    height: 300px;
  }
.mat-form-field{
    width: 100%;
    margin-left: 10px;
}
.btn_nuevo{
    width: 180px;
    height: 50px;
}
img{
    width: 100px;
    height: 100px;
}

