<mat-card class="container_principal" rowHeight="1000px">
    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <h2>Estudiantes</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button class="btn_nuevo" mat-raised-button color="primary" (click)="openDialogRegistrar()">Nuevo</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field class="example-form-field">
                <mat-label>Buscar</mat-label>
                <input matInput type="text">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="450px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Clifford Garate</mat-card-title>
                    <mat-card-subtitle>21 años 9 meses</mat-card-subtitle>
                    <mat-card-subtitle>4 to grado Primaria</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Clifford Garate</mat-card-title>
                    <mat-card-subtitle>21 años 9 meses</mat-card-subtitle>
                    <mat-card-subtitle>4 to grado Primaria</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Clifford Garate</mat-card-title>
                    <mat-card-subtitle>21 años 9 meses</mat-card-subtitle>
                    <mat-card-subtitle>4 to grado Primaria</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Clifford Garate</mat-card-title>
                    <mat-card-subtitle>21 años 9 meses</mat-card-subtitle>
                    <mat-card-subtitle>4 to grado Primaria</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Clifford Garate</mat-card-title>
                    <mat-card-subtitle>21 años 9 meses</mat-card-subtitle>
                    <mat-card-subtitle>4 to grado Primaria</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

</mat-card>