<mat-card class="container_principal" rowHeight="1000px">
    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <h2>Estudiantes</h2>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button class="btn_nuevo" mat-raised-button color="primary" (click)="openDialogRegistrar()">Nuevo</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field class="example-form-field">
                <mat-label>Buscar</mat-label>
                <input matInput type="text" (keyup)="applyFilter($event.target.value)">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="450px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let estudiante of estudiantes">
            <mat-card class="example-card">
                <img mat-card-image src="{{url_img}}/{{estudiante.foto_ruta}}"
                    alt="">
                <mat-card-content>
                    <mat-card-title>{{estudiante.nom_persona}} {{estudiante.ape_pate_pers}} {{estudiante.ape_mate_pers}}</mat-card-title>
                    <mat-card-subtitle>{{estudiante.edad}}</mat-card-subtitle>
                    <mat-card-subtitle>{{estudiante.grado}} {{estudiante.nivel}}</mat-card-subtitle>
                    <button mat-raised-button color="warn">BORRAR</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card>