
  table {
    width: 600px;
  }

  .btn_nuevo{
    width: 130px;
    height: 40px;
}
.example-form-field{
    width: 90%;
}
.footer_btn{
    text-align: center;
}
.btn_close{
    top: -30px !important;
}