<div class="example-container">
    <mat-grid-list cols="10" rowHeight="80px">
        <mat-grid-tile [colspan]="9" [rowspan]="1">
            <mat-form-field class="example-form-field">
                <mat-label>Buscar</mat-label>
                <input matInput type="text">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="btn_close">
            <button mat-button (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="example-table-container">

       
    </div>
    <mat-paginator [pageSize]="30"></mat-paginator>
    <div class="footer_btn">
        <button class="btn_nuevo" mat-raised-button color="primary" >Aceptar</button>
    </div>
</div>